In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('cars_workshop.csv')
df.head()

,Unnamed: 0,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos
0,0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9
1,1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12
2,2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4
3,3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9
4,4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14

In [4]:
df = df.drop(df.columns[0], axis=1)

In [7]:
min_year = df['year_produced'].min()

In [8]:
max_year = df['year_produced'].max()

In [11]:
actual_range=list(range(min_year,max_year +1))

In [15]:
manufacturer_choice=df['manufacturer_name'].unique()

In [16]:


manufacturers = df['manufacturer_name'].unique()

In [17]:
manufacturers

array(['Subaru', 'Dodge', 'Kia', 'Opel', 'Alfa Romeo', 'Acura', 'Dacia',
       'Lexus', 'Mitsubishi', 'Lancia', 'Citroen', 'Mini', 'Jaguar',
       'Porsche', 'SsangYong', 'Daewoo', 'Geely', 'Fiat', 'Ford',
       'Renault', 'Seat', 'Rover', 'Volkswagen', 'Lifan', 'Jeep',
       'Cadillac', 'Audi', 'Toyota', 'Volvo', 'Chevrolet', 'Great Wall',
       'Buick', 'Pontiac', 'Lincoln', 'Hyundai', 'Nissan', 'Suzuki',
       'BMW', 'Mazda', 'Land Rover', 'Iveco', 'Skoda', 'Saab', 'Infiniti',
       'Chery', 'Honda', 'Mercedes-Benz', 'Peugeot', 'Chrysler'],
      dtype=object)

In [9]:
min_year = df['year_produced'].min()

In [10]:
max_year = df['year_produced'].max()

In [11]:
min_year

1960

In [12]:
max_year

2019

In [13]:
(min_year,max_year) = ( df['year_produced'].min(), df['year_produced'].max())

In [14]:
min_year

1960

In [15]:
list(range(min_year,max_year+1))

[1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019]

In [16]:
def age_category(x):
    if x<5: return '<5'
    elif x>=5 and x<10: return '5-10'
    elif x>=10 and x<20: return '10-20'
    else: return '>20'

In [17]:
df['age']=2023-df['year_produced']

In [18]:
df['age_category']=  df['age'].apply(age_category)

In [19]:
df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos,age,age_category
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9,13,10-20
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12,21,>20
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4,22,>20
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9,24,>20
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14,22,>20